@import url(https://fonts.googleapis.com/css?family=Muli:400,300|Quicksand:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);
* {
	margin: 0;
	padding: 0;
}


/* Border Box CSS */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}


/* Clearfix hack*/

* Clearfix: contain floats */ .clearfix:before,
.clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.clearfix:after {
	clear: both;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}


/*


/* ===========================*/


/* EMIKO's customised CSS*/


/* LINKS */

a:link {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
}


/* CSS for text styles */

h1 {
	font-family: "Muli", sans-serif;
	font-size: 2em;
	color: #4e5564;
	text-align: center;
	margin: 20px 0;
}

h2 {
	font-family: "Muli", sans-serif;
	font-size: 2em;
	letter-spacing: 7px;
	color: #889daa;
	font-weight: 400;
	text-align: left;
	margin: 0 3%;
	padding-bottom: 30px;
}

h3 {
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	color: #4e5564;
	text-align: left;
	margin: 10px 0;
}

.followoninstagram h3 {
	text-align: center;
	margin-top: 20px;
}

.SEO-copy h3 {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}

h4 {
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	color: #4e5564;
	text-align: left;
	padding-top: 5px;
}

.service-item-text h4 {
	text-align: center;
	font-size: 1em;
	font-weight: 400;
}

p {
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #4e5564;
	text-align: justify;
	margin: 10px 3% 5px 3%;
}

.services p {
	margin-bottom: 40px;
	text-align: center;
}

.text-overlay p {
	text-align: center;
	color: white;
}

header p {
	font-family: "Muli", sans-serif;
	font-size: 4.5em;
	color: #4e5564;
	letter-spacing: 15px;
	font-weight: 310;
	text-align: center;
	margin-top: 40px;
}


/* menu for mobile devices*/

.menu {
	display: none;
}

ul {
	font-family: "Muli", sans-serif;
	font-size: 1.2em;
	color: #4e5564;
	text-align: center;
	list-style-type: none;
	margin: 5px 0 10px 0;
}

li {
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	font-family: "Sorts Mill Goudy", serif;
}


/* li change on hover */

li:hover {
	color: #efcfeb;
}

.navbold {
	font-weight: 800;
}


/*HOMEPAGE CSS - Services Section*/

.services h2 {
	text-align: center;
	font-size: 3em;
	padding-top: 40px;
	padding-bottom: 10px;
}

.servicespagecopy h2 {
	text-align: center;
}

.servicewrap {
	width: 100%;
	height: 800px;
	background: url(img/cactushomepagebackgroundservices.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.servicebox p {
	color: #4e5564;
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;
	padding: 30% 25%;
	font-family: "muli";
}


/* Homepage CSS */

.homepage-header-image {
	width: 100%;
	height: 80vh;
	background: url(img/cactus_homepageheaderimage.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.text-overlay {
	text-align: center;
	padding-top: 25%;
	font-family: "Sorts Mill Goudy" serif;
}

.SEO-copy {
	padding: none;
}

.services {
	margin-left: 5%;
	margin-right: 5%;
}

.servicebox {
	width: 29.33%;
	height: 300px;
	float: left;
	background-color: white;
	opacity: 0.8;
	border: none;
	margin: 20px 1%;
}

.serviceboxes {
	margin-left: 5%;
}

.servicewrap {
	position: relative;
}


/* service boxes to change colour on hover 
.servicebox:hover {
	background-color: rgba(175, 191, 91, 0.9);
	border: none;
	transition: 1s;
}
*/


/* BUTTON CSS*/

.contact-button-white {
	background-color: transparent;
	padding: 10px 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1em;
	color: white;
	border-radius: 50px;
	border: 2px solid white;
	font-family: "Muli";
	sans-serif;
	text-align: center;
}

.contact-button-grey {
	background-color: #4e5564;
	padding: 13px 13px;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 1.5em;
	color: #e7ebed;
	border-radius: 50px;
	border: 2px solid #4e5564;
	font-family: "Muli";
	sans-serif;
	align-content: center;
}

.find-out-more-button {
	background-color: transparent;
	padding: 13px 13px;
	font-size: 1em;
	color: #4e5564;
	border-radius: 50px;
	border: 1px solid #e7ebed;
	font-family: "Muli";
	sans-serif;
	bottom: 20px;
	position: absolute;
	transform: translate(-50%);
}

.morebuttonbox {
	text-align: center;
}

.more-service-info-button {
	color: #4e5564;
	background-color: rgba(211, 216, 219, 0.9);
	padding: 25px 0;
	margin-top: 20px;
	font-size: 1.2em;
	border: none;
	width: 100%;
	font-family: "muli" sans-serif;
}


/*style buttons for hover*/

.contact-button-white:hover {
	color: #efcfeb;
	border: 2px solid #efcfeb;
}

.contact-button-grey:hover {
	background-color: #e7ebed;
	color: #4e5564;
}

.find-out-more-button:hover {
	background-color: #4e5564;
	color: #e7ebed;
	border: 1px solid #4e5564;
}

.emailhover:hover {
	color: #efcfeb;
}

.more-service-info-button:hover {
	background-color: whitesmoke;
}


/* Contact section for all pages*/

.contact-section {
	color: white;
	height: 200px;
	clear: both;
	padding-top: 30px;
}

.contact-paragraph {
	padding: 30px 10% 40px 10%;
	text-align: center;
}

.contact-paragraph h5 {
	text-align: center;
	font-family: "muli" sans-serif;
	font-weight: 700;
	font-size: 1em;
	color: #4e5564;
}

.contact-paragraph p {
	text-align: center;
	font-size: 1em;
	font-family: "muli" sans-serif;
	color: #4e5564;
	padding: 0;
	margin: 0;
}


/* Footer section for all pages */

footer li {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

footer p {
	text-align: center;
	font-weight: 200;
	color: black;
	font-family: "Muli", serif;
	font-size: 0.8em;
}

footer {
	background-color: white;
	padding-bottom: 5%;
	padding-top: 20px;
	clear: both;
	border-top: dotted 1px #d3d8db;
}


/* "About Me" page CSS */

.profile-image {
	margin: 20px 7.5% 60px 7.5%;
	background-image: url(img/emiko-gi.jpg);
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.generalwrap {
	margin: 5% 5%;
	max-height: inherit;
	max-width: inherit;
}

.colour-break {
	width: 100%;
	height: 50vh;
	background: url(img/cactus4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


/* Instagram feed */

.snapwidget {
	padding: 30px 10%;
}


/* "Contact" page CSS*/

.contact-page-header-image {
	width: 100%;
	height: 50vh;
	background: url(img/cactus3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 30px;
}

.contactmecopy h2 {
	text-align: center;
	padding: 20px 0px;
	margin: 0 0;
}

.contactcopy p {
	margin: 0 10%;
	font-size: 1.3em;
	margin-bottom: 50px;
}

.contact-box {
	margin: 5% 10% 30% 5%;
}

.contact-box p {
	margin: 0 0;
	padding: 0 0;
}

.contactformstyle {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 40px;
	width: 700px;
	height: auto;
	margin-left: 10%;
	float: left;
	clear: both;
	margin-right: 30px;
	margin-bottom: 30px;
}

textarea {
	width: 200px;
	height: 100px;
}

.contactsection {
	display: inline;
}

label {
	font-family: "muli";
	font-size: 1em;
	text-align: left;
	color: #4e5564;
}

input[type=submit] {
	background-color: #4e5564;
	padding: 10px 20px;
	font-size: 1em;
	color: white;
	border-radius: 50px;
	border: 2px solid white;
	font-family: "Muli";
	sans-serif;
	text-align: center;
}

input[type=submit]:hover {
	background-color: #efcfeb;
	color: white;
	border: 2px solid #efcfeb;
}

input[type=text] {
	margin-top: 10px;
	width: 220px;
	height: 25px;
}

input[type=email] {
	margin-top: 10px;
	width: 220px;
	height: 25px;
}

input[type=phone] {
	margin-top: 10px;
	width: 220px;
	height: 25px;
}

label {
	margin-right: 30px;
}

.questionfield {
	padding: 10px 0;
	display: block;
}

textarea {
	width: 550px;
}


/* "Services" Page CSS*/

.services-header-image {
	width: 100%;
	height: 50vh;
	background: url(img/cactus2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 30px;
}

.servicespagecopy {
	margin: 5% 5%;
}

.service-item-text h3 {
	text-align: center;
	font-size: 2em;
	padding-top: 20px;
}

.service-item-text {
	padding: 20px 20px;
	height: 200px;
	clear: both;
	text-align: center;
}

.serviceblock1 {
	width: 50%;
	background-color: white;
	height: 300px;
	float: left;
	position: relative;
	border-top: 0.5px white solid;
	border-bottom: 0.5px white solid;
	border-left: 0.5px white solid;
	border-right: 0.5px white solid;
}

.serviceblock2 {
	width: 50%;
	background-color: whitesmoke;
	height: 300px;
	float: left;
	position: relative;
	border-top: 0.5px white solid;
	border-bottom: 0.5px white solid;
	border-left: 0.5px white solid;
	border-right: 0.5px white solid;
}

.overlayText {
	display: none;
	background: rgba(78, 85, 100, 0.98);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
}

.oltdiv {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	padding: 0 20px;
	left: 0;
}

.overlayText p {
	color: white;
}

.overlayText h4 {
	color: white;
	margin-left: 3%;
}

.homeOverlayText {
	display: none;
	color: white;
}


/*END OF Desktop CSS */


/* ===========================*/


/* ===========================*/


/* BEGINNING of Media Query, for mobile phone screens */

@media only screen and (max-width: 600px) {
	/* Menu Navigation change*/
	.menu {
		display: inline-block;
		text-align: center;
		color: #4e5564;
		background-color: #efcfeb;
		width: 100%;
		font-size: 1.4em;
		padding: 12px 0;
	}
	nav ul {
		display: none;
		padding: 0;
		margin: 0;
	}
	header nav ul li {
		display: block;
		font-size: 1em;
		background-color: rgba(239, 207, 235, 0.6);
		padding: 10px 10px;
		border-bottom: 1px solid white;
		text-align: center;
	}
	header nav ul li:hover {
		background-color: rgba(239, 207, 235, 0.9);
		color: white;
		transition: 0.5s;
	}
	/* font size changes*/
	h1 {
		font-size: 1.8em;
		padding: 0 20px;
	}
	h2 {
		font-size: 1.4em;
		padding: 5px 20px;
	}
	h3 {
		font-size: 1.2em;
	}
	h4 {
		font-size: 1em;
	}
	p {
		font-size: 1em;
	}
	.services h2 {
		font-size: 1.5em;
		padding-top: 25px;
	}
	footer p {
		font-size: 0.6em;
	}
	/* homepage changes*/
	.homepage-header-image {
		height: 50vh;
		background: url(img/cactus-homepage-mobile.jpg);
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}
	.contact-button-grey {
		padding: 12px 12px;
		font-size: 1em;
	}
	.servicewrap {
		position: relative;
	}
	.serviceboxes {
		margin: 0 0;
		border: none;
	}
	.servicebox {
		width: 100%;
		height: 100px;
		background-color: white;
		margin: 5px 0 5px 0;
		border: none;
	}
	.servicebox p {
		padding: 25px 0;
		margin: 0;
	}
	
	
	/* contact page changes*/
	
	.contact-page-header-image {
		height: 50vh;
		background: url(img/cactuscontactpage_mobile.jpg);
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}
	.contactformstyle {
		width: 100%;
		margin: 0 0 20px 0;
	}
	.contactcopy {
		margin: 5px 10px;
	}
	.contact-box {
		margin: 5px 20px 20px 20px;
	}
	h2 {
		font-size: 1.5em;
	}
	
	
	/* services page */
	
	.serviceblock1 {
		clear: both;
		width: 100%;
		height: 350px;
		border-bottom: 1px solid #4e5564;
		background-color: white;
	}
	.serviceblock2 {
		clear: both;
		width: 100%;
		height: 350px;
		border-bottom: 1px solid #4e5564;
		background-color: white;
	}
	.add-white-border {
		border-bottom: 0.5px white solid;
	}
	.find-out-more-button {
		padding: 10px 10px;
		font-size: 1em;
		bottom: 20px;
	}
	.service-item-text h3 {
		font-size: 1.5em;
		padding-top: 10px;
	}
	.service-item-text {
		padding: 10px 10px;
	}
	textarea {
		width: 90%;
	}
	
	
	/* About Me page changes */
	
	.profile-image {
		margin: 20px 5% 60px 5%;
		background-image: url(img/emiko-gi-mobile-size.jpg);
		height: 400px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}